.information , .days_flow {
    position: relative;
    padding: 5%;
    padding-top: 20%;
    margin: 5%;
    border-radius: 7%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.information_img , .days_flow_img {
    position: absolute;
    top: 5%;
    left: -3%;
  }

.information_map {
    width: 100%;
    margin-top: 10%;
}

.contents_title {
    position: absolute;
    top: 6%;
    left: 5%;
}

.days_flow_img {
    top: 1%;
}


.days_flow_title {
    top: 1.5%;
}

.days_flow_text {
    margin-top: 10px;
    padding: 3%;
}

.flow {
    position: relative;
    background-image: url(img/page_content_area_bg.gif);
    background-size: 25%;
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 7%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}

.flow_time {
    position: absolute;
    top: -3%;
    left: -10%;
    color: #00947a;
    font-size: 20px;
    font-weight: bold;
}

.flow_title {
    text-align: center;
}

.picture_gallery {
    display: flex;
    overflow-x: scroll;
}

.picture_gallery img {
    width: 80%;
    margin: 5%;
}

.flow_text {
    font-size: 14px;
}

.line {
    width: 10px;
    background-color: #00947a;
    transform: rotate(0deg);
    position: absolute;
    top: 5%;
    left: -1%;
}

.line1 {
    height: 350px;
}

.line2 {
    height: 390px;
}

.line3 {
    height: 260px;
}

.line4 {
    height: 240px;
}

.line5 {
    height: 350px;
}

.bus_icon {
    width: 100px;
    transform: rotate(
270deg
);
    position: sticky;
    top: 0px;
    left: -60px;
    z-index: 1;
    margin-left: -68px;
    margin-bottom: 0px;
}